@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track {
  background: purple;
}

::-webkit-scrollbar-thumb {
  background: #030D21;
  border-radius: 10px;
}

